# Buyers and Sellers

This notebook will take the output from step 01 ('01_instrumentsFeatures.ipynb' notebook) and generate separate dataframe of buyers and sellers, in order to perform some data exploration/visualization on the provided portfolio.

## Data import

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import os

In [4]:
#Instruments+features dataset
#import data
user = os.environ["USERNAME"]
filename = "190108_instrumentsdf_simNames_2.pkl"
datafolder = "C:/Users/{}/Dropbox/University/MscDataScience_Birkbeck/thesis_project/data/".format(user)

inst = pd.read_pickle(datafolder+filename)
inst.head()

,customer_id,customer_name_1,debtor_id,debtor_name_1,invoice_number,invoice_date,due_date,invoice_amount,purchase_amount,purchase_amount_open,...,total_repayment,total_impairment,is_open,we_payment_share,has_purchase,has_deduction,is_due,has_discharge,cash_check,unexpl
uid,,,,,,,,,,,,,,,,,,,,,
2744:79/231,2004008,Martinique Ltd,79,First Probabilists LLC,2744,2013-07-23,2013-08-02,913.70,0.0,0.0,...,0.00,0.00,False,NaN,False,False,True,True,913.70,True
2861:79/232,2004008,Martinique Ltd,79,First Probabilists LLC,2861,2013-07-30,2013-08-09,2233.45,0.0,0.0,...,0.00,0.00,False,NaN,False,False,True,True,2233.45,True
2932:79/233,2004008,Martinique Ltd,79,First Probabilists LLC,2932,2013-08-06,2013-08-16,1370.50,0.0,0.0,...,1370.50,0.00,False,1.0,False,False,True,False,0.00,False
1472:489/688,2004009,Sydney LLC,489,Newman Loggings Ltd,1472,2013-08-13,2013-08-23,9195.10,0.0,0.0,...,0.00,0.00,False,NaN,False,False,True,True,9195.10,True
2042:512/645,2004009,Sydney LLC,512,Mollie Nubia Energy Co.,2042,2013-08-13,2013-08-23,4594.60,0.0,0.0,...,164.35,164.35,False,1.0,False,False,True,True,4265.90,True

In [5]:
inst.has_impairment1[:10000].sum()

136

In [6]:
#set up buyer dataframe
b_g = inst.groupby("debtor_name_1")
#build an aggregation dictionary

#aggregate by keeping a list
agg_bdict = dict(zip(["customer_id", "customer_name_1", "debtor_id", "uid",
                      "has_impairment1", "has_impairment2", "is_pastdue90", "is_pastdue180",
                      "has_prosecution", "is_open"
                     ],  ["nunique"]*4 + ["sum"]*6  ))

                                                           
#aggregate by first value...
buyer = b_g.agg(agg_bdict)
buyer.head(20)

,customer_id,customer_name_1,debtor_id,uid,has_impairment1,has_impairment2,is_pastdue90,is_pastdue180,has_prosecution,is_open
debtor_name_1,,,,,,,,,,
A&M Churchillian Global SA,1,1,1,15,0.0,0.0,0.0,0.0,0.0,2.0
A&M Kelley S.p.a.,1,1,1,19,0.0,1.0,0.0,0.0,0.0,0.0
A&P Corporation,1,1,1,3,0.0,0.0,0.0,0.0,0.0,0.0
AAAS Corporation,1,1,2,5,0.0,0.0,0.0,0.0,0.0,1.0
ABA S.p.a.,2,2,2,41,0.0,0.0,0.0,0.0,0.0,2.0
AC Corporation,1,1,3,22,0.0,15.0,0.0,0.0,0.0,0.0
ACM LLC,1,1,1,1,0.0,0.0,0.0,0.0,0.0,0.0
AK Heckman United Ltd,1,1,1,16,0.0,0.0,0.0,0.0,0.0,2.0
AK Sarl,1,1,1,3,0.0,0.0,2.0,2.0,2.0,2.0
AL Westinghouse Development Sarl,3,3,3,53,0.0,0.0,0.0,0.0,0.0,4.0
AMA Bindweeds GmbH,1,1,1,1,0.0,0.0,0.0,0.0,0.0,0.0
AMA Laguerre Ltd,1,1,1,8,0.0,0.0,0.0,0.0,0.0,0.0
AR Ultimates Limited,1,1,1,4,0.0,0.0,0.0,0.0,0.0,0.0
AZ Collards Inc.,1,1,1,1,0.0,0.0,0.0,0.0,0.0,1.0
Aarhus Oceania Supply SA,1,1,1,1,0.0,0.0,0.0,0.0,0.0,1.0
Aaron Sidereals Corporation,1,1,1,14,0.0,0.0,0.0,0.0,0.0,0.0
Abe Katie Limited,2,2,1,38,0.0,1.0,0.0,0.0,0.0,2.0
Abe Kermit Co.,1,1,1,3,1.0,0.0,0.0,0.0,0.0,1.0
Abe Kirov Limited,3,3,4,32,0.0,1.0,0.0,0.0,0.0,0.0
Abelian Lamplights Co.,1,1,1,1,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
#set up seller dataframes
s_g = inst.groupby("customer_name_1")
#build an aggregation dictionary

#aggregate by keeping a list
agg_sdict = dict(zip(["customer_id", "debtor_name_1", "debtor_id", "uid",
                      "has_impairment1", "has_impairment2", "is_pastdue90", "is_pastdue180",
                      "has_prosecution", "is_open"
                     ],
                   ["nunique"]*4 + ["sum"]*6  ))

                                                           
#aggregate by first value...
seller = s_g.agg(agg_sdict)
seller.head(20)

,customer_id,debtor_name_1,debtor_id,uid,has_impairment1,has_impairment2,is_pastdue90,is_pastdue180,has_prosecution,is_open
customer_name_1,,,,,,,,,,
Agee Christine Inc.,1,2,2,3,0.0,1.0,0.0,0.0,0.0,0.0
Ahmedabad Corporation,1,2,2,47,13.0,19.0,3.0,2.0,0.0,10.0
Amalgamated Vindicates Inc.,1,121,126,1138,4.0,6.0,9.0,7.0,4.0,90.0
Arabic Sarl,1,1,1,13,4.0,0.0,3.0,0.0,0.0,5.0
Asia Bobolinks and Escrows LLC,1,13,13,77,0.0,5.0,0.0,0.0,16.0,0.0
Assyria Thickishes Co.,1,9,9,19,0.0,0.0,15.0,15.0,6.0,15.0
Astarte Cadaverouses Inc.,1,1,1,14,0.0,0.0,0.0,0.0,0.0,3.0
Atwater Carolyn GmbH,1,2,2,21,1.0,4.0,6.0,6.0,0.0,6.0
Authentic Javelins Limited,1,22,22,106,4.0,3.0,39.0,6.0,0.0,46.0
Authentic Programmings Corporation,1,12,13,36,10.0,5.0,0.0,0.0,0.0,0.0
Azerbaijan Cisterns Inc.,1,6,6,1115,5.0,4.0,0.0,0.0,0.0,0.0
Bacchus Sarl,1,1,1,21,0.0,0.0,0.0,0.0,0.0,6.0
Bakhtiari Ltd,1,5,5,187,19.0,1.0,8.0,3.0,0.0,22.0
Ballard Uranias and Addles LLC,1,37,37,1347,6.0,5.0,1.0,0.0,0.0,138.0
Bantus Ts Sarl,1,27,28,245,1.0,0.0,1.0,0.0,0.0,65.0
Bauer Malden Ltd,1,2,2,4,0.0,1.0,0.0,0.0,0.0,0.0
Belshazzar Ltd,1,6,6,13,0.0,0.0,0.0,0.0,0.0,13.0
Bermuda SA,1,16,17,81,23.0,32.0,0.0,0.0,0.0,0.0
Betsey Carboloy LLC,1,7,7,38,0.0,0.0,7.0,0.0,0.0,31.0
Betty SA,1,226,230,3140,15.0,29.0,76.0,12.0,55.0,577.0

In [8]:
prefix = "190108_simNames_"
seller.to_pickle(datafolder + prefix + "seller.pkl")
buyer.to_pickle(datafolder + prefix + "buyer.pkl")