# Time snapshots for network analysis

This notebook creates time snapshots of the given portfolio, in order to study how network structure could influence impairments/overdues diffusion.
In the previous steps, impairments and overdues has been calculated using as report date the date in which the data was received.
Using snapshots, it is possible to perform this analysis overtime observing diffusion.

## Data import

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import os

In [3]:
#Instruments dataset
#import data
user = os.environ["USERNAME"]

#from home
#filename = "instrumentsdf.pkl"
#datafolder = "C:/Users/{}/Dropbox/University/MscDataScience_Birkbeck/thesis_project/data/".format(user)

#from work
filename = "09272018_instruments.pkl"
datafolder = "C:/Users/{}/Tradeteq Dropbox/Tradeteq Team/Clients/#GoFactoring/data analysis/".format(user)

inst = pd.read_pickle(datafolder+filename)
inst.head().transpose()

uid,2744:79/231,2861:79/232,2932:79/233,1472:489/688,2042:512/645
customer_id,2004008,2004008,2004008,2004009,2004009
customer_name_1,jobs united GmbH,jobs united GmbH,jobs united GmbH,PM Personal GmbH,PM Personal GmbH
debtor_id,79,79,79,489,512
debtor_name_1,Quadroni Linard,Quadroni Linard,Quadroni Linard,Style Interiors,Elektropartner AG
invoice_number,2744,2861,2932,1472,2042
invoice_date,2013-07-23 00:00:00,2013-07-30 00:00:00,2013-08-06 00:00:00,2013-08-13 00:00:00,2013-08-13 00:00:00
due_date,2013-08-02 00:00:00,2013-08-09 00:00:00,2013-08-16 00:00:00,2013-08-23 00:00:00,2013-08-23 00:00:00
invoice_amount,913.7,2233.45,1370.5,9195.1,4594.6
purchase_amount,0,0,0,0,0
purchase_amount_open,0,0,0,0,0
discharge_type,Kunde,Kunde,NaN,Kunde,Kunde
discharge_amount,913.7,2233.45,NaN,9195.1,4430.25
discharge_date,2016-03-22 00:00:00,2016-03-22 00:00:00,NaT,2016-03-22 00:00:00,2016-03-22 00:00:00
posting_date,"[2016-01-30 00:00:00, 2016-03-22 00:00:00]","[2016-01-30 00:00:00, 2016-03-22 00:00:00]","[2016-01-30 00:00:00, 2016-03-22 00:00:00]","[2016-01-30 00:00:00, 2016-03-22 00:00:00]","[2016-01-30 00:00:00, 2016-03-22 00:00:00, 201..."
transaction_type,"[Purchase invoice, Cancel invoice client]","[Purchase invoice, Cancel invoice client]","[Purchase invoice, Subsequent assignment of th...","[Purchase invoice, Cancel invoice client]","[Purchase invoice, Subsequent assignment of th..."
document_stack_id,8,8,8,9,9
booking_text,Migration,Migration,Migration,Migration,Migration
input_date,2016-01-30 00:00:00,2016-01-30 00:00:00,2016-01-30 00:00:00,2016-01-30 00:00:00,2016-01-30 00:00:00
creation_date,2016-01-30 00:00:00,2016-01-30 00:00:00,2016-01-30 00:00:00,2016-01-30 00:00:00,2016-01-30 00:00:00
factoring_type,Full Service,Full Service,Full Service,Full Service,Full Service
debt_collection_date,NaT,NaT,NaT,NaT,NaT
last_payment_date,NaT,NaT,2016-01-30 00:00:00,NaT,2016-01-30 00:00:00
reminder_date,2013-09-09 00:00:00,2013-09-23 00:00:00,2013-09-23 00:00:00,2013-10-21 00:00:00,2013-12-16 00:00:00
test_feature_tested,NaN,NaN,NaN,NaN,NaN
test_characteristic_id,NaN,NaN,NaN,NaN,NaN
bill_id,231,232,233,688,645
cancellation_date,NaT,NaT,NaT,NaT,NaT
value_date,2013-08-02 00:00:00,2013-08-09 00:00:00,2013-08-16 00:00:00,2013-08-23 00:00:00,2013-08-23 00:00:00
currency,Schweizer Franken,Schweizer Franken,Schweizer Franken,Schweizer Franken,Schweizer Franken
purchase_examination,14,14,14,14,14
prosecution,Nein,Nein,Nein,Nein,Ja
deduction_amount,NaN,NaN,0,NaN,0
payment_amount,"[nan, nan]","[nan, nan]","[1370.5, 1370.5]","[nan, nan]","[164.35, 164.35, 164.35, 164.35]"
payment_date,"[NaT, NaT]","[NaT, NaT]","[2016-01-30 00:00:00, 2016-01-30 00:00:00]","[NaT, NaT]","[2016-01-30 00:00:00, 2016-01-30 00:00:00, 201..."
document_status,historisch,historisch,historisch,historisch,historisch
uid,2744:79/231,2861:79/232,2932:79/233,1472:489/688,2042:512/645
ttype,"[0, 6]","[0, 6]","[0, 5]","[0, 6]","[0, 5, 5, 6]"
nrecords,2,2,2,2,4
ttypeset,"(0, 6)","(0, 6)","(0, 5)","(0, 6)","(0, 5, 6)"
discharge_loss,0,0,0,0,164.35
has_impairment1,False,False,False,False,False
has_impairment2,False,False,False,False,True
has_impairment3,False,False,False,False,False
is_pastdue90,False,False,False,False,False
is_pastdue180,False,False,False,False,False
has_prosecution,False,False,False,False,True
last_payment_amount,0,0,1370.5,0,164.35
total_repayment,0,0,1370.5,0,164.35
total_impairment,0,0,0,0,164.35
is_open,False,False,False,False,False
we_payment_share,NaN,NaN,1,NaN,1
has_purchase,False,False,False,False,False
has_deduction,False,False,False,False,False
is_due,True,True,True,True,True

## 1. Defining snapshot slices

In order to create snapshots of different time frames, the report date will be progressively changed and used to slice the dataframe.

In [12]:
ReportDate = datetime.datetime(2018, 9, 28) #date data was received

daterange = pd.date_range(start=inst.invoice_date.min(), end=ReportDate, freq='M')

In [13]:
len(daterange)

62

In [21]:
daterange[2]

Timestamp('2013-09-30 00:00:00', freq='M')

In [22]:
inst[inst.invoice_date<daterange[5]]

,customer_id,customer_name_1,debtor_id,debtor_name_1,invoice_number,invoice_date,due_date,invoice_amount,purchase_amount,purchase_amount_open,...,is_pastdue180,has_prosecution,last_payment_amount,total_repayment,total_impairment,is_open,we_payment_share,has_purchase,has_deduction,is_due
uid,,,,,,,,,,,,,,,,,,,,,
2744:79/231,2004008,jobs united GmbH,79,Quadroni Linard,2744,2013-07-23,2013-08-02,913.70,0.0,0.0,...,False,False,0.00,0.00,0.00,False,NaN,False,False,True
2861:79/232,2004008,jobs united GmbH,79,Quadroni Linard,2861,2013-07-30,2013-08-09,2233.45,0.0,0.0,...,False,False,0.00,0.00,0.00,False,NaN,False,False,True
2932:79/233,2004008,jobs united GmbH,79,Quadroni Linard,2932,2013-08-06,2013-08-16,1370.50,0.0,0.0,...,False,False,1370.50,1370.50,0.00,False,1.0,False,False,True
1472:489/688,2004009,PM Personal GmbH,489,Style Interiors,1472,2013-08-13,2013-08-23,9195.10,0.0,0.0,...,False,False,0.00,0.00,0.00,False,NaN,False,False,True
2042:512/645,2004009,PM Personal GmbH,512,Elektropartner AG,2042,2013-08-13,2013-08-23,4594.60,0.0,0.0,...,False,True,164.35,164.35,164.35,False,1.0,False,False,True
2998:79/234,2004008,jobs united GmbH,79,Quadroni Linard,2998,2013-08-13,2013-08-23,2233.45,0.0,0.0,...,False,False,0.00,0.00,0.00,False,NaN,False,False,True
3043:506/229,2004008,jobs united GmbH,506,Elektro DOM GmbH,3043,2013-08-20,2013-08-30,1880.80,0.0,0.0,...,False,False,1119.00,1119.00,1119.00,False,1.0,False,False,True
3098:79/235,2004008,jobs united GmbH,79,Quadroni Linard,3098,2013-08-20,2013-08-30,1370.50,0.0,0.0,...,False,False,0.00,0.00,0.00,False,NaN,False,False,True
1533:489/689,2004009,PM Personal GmbH,489,Style Interiors,1533,2013-08-27,2013-09-06,2589.30,0.0,0.0,...,False,False,0.00,0.00,0.00,False,NaN,False,False,True
1603:527/651,2004009,PM Personal GmbH,527,Ilanz Keramik GmbH,1603,2013-09-03,2013-09-13,1066.80,0.0,0.0,...,False,False,0.00,0.00,0.00,False,NaN,False,False,True
1604:527/652,2004009,PM Personal GmbH,527,Ilanz Keramik GmbH,1604,2013-09-03,2013-09-13,1066.80,0.0,0.0,...,False,False,0.00,0.00,0.00,False,NaN,False,False,True
1623:489/690,2004009,PM Personal GmbH,489,Style Interiors,1623,2013-09-10,2013-09-20,1995.85,0.0,0.0,...,False,False,0.00,0.00,0.00,False,NaN,False,False,True
2043:512/646,2004009,PM Personal GmbH,512,Elektropartner AG,2043,2013-09-10,2013-09-20,2751.85,0.0,0.0,...,False,True,997.65,997.65,0.00,False,1.0,False,False,True
3348:79/236,2004008,jobs united GmbH,79,Quadroni Linard,3348,2013-09-10,2013-09-20,2258.80,0.0,0.0,...,False,False,0.00,0.00,0.00,False,NaN,False,False,True
3378:506/230,2004008,jobs united GmbH,506,Elektro DOM GmbH,3378,2013-09-17,2013-09-27,812.70,0.0,0.0,...,False,False,0.00,0.00,0.00,False,NaN,False,False,True
2044:512/647,2004009,PM Personal GmbH,512,Elektropartner AG,2044,2013-09-17,2013-09-27,2801.00,0.0,0.0,...,False,True,0.00,0.00,0.00,False,NaN,False,False,True
3399:79/237,2004008,jobs united GmbH,79,Quadroni Linard,3399,2013-09-17,2013-09-27,2233.45,0.0,0.0,...,False,False,0.00,0.00,0.00,False,NaN,False,False,True
1748:489/691,2004009,PM Personal GmbH,489,Style Interiors,1748,2013-09-24,2013-10-04,1610.30,0.0,0.0,...,False,False,0.00,0.00,0.00,False,NaN,False,False,True
2045:512/648,2004009,PM Personal GmbH,512,Elektropartner AG,2045,2013-09-24,2013-10-04,2850.10,0.0,0.0,...,False,True,0.00,0.00,0.00,False,NaN,False,False,True
3541:79/238,2004008,jobs united GmbH,79,Quadroni Linard,3541,2013-09-24,2013-10-04,2233.45,0.0,0.0,...,False,False,0.00,0.00,0.00,False,NaN,False,False,True
1764:489/692,2004009,PM Personal GmbH,489,Style Interiors,1764,2013-09-30,2013-10-10,1905.10,0.0,0.0,...,False,False,0.00,0.00,0.00,False,NaN,False,False,True
2046:512/649,2004009,PM Personal GmbH,512,Elektropartner AG,2046,2013-09-30,2013-10-10,3120.40,0.0,0.0,...,False,True,0.00,0.00,0.00,False,NaN,False,False,True
1793:489/693,2004009,PM Personal GmbH,489,Style Interiors,1793,2013-10-01,2013-10-11,1905.10,0.0,0.0,...,False,False,0.00,0.00,0.00,False,NaN,False,False,True
3627:79/239,2004008,jobs united GmbH,79,Quadroni Linard,3627,2013-10-01,2013-10-11,2233.45,0.0,0.0,...,False,False,0.00,0.00,0.00,False,NaN,False,False,True
1811:489/694,2004009,PM Personal GmbH,489,Style Interiors,1811,2013-10-08,2013-10-18,1769.05,0.0,0.0,...,False,False,0.00,0.00,0.00,False,NaN,False,False,True
2047:512/650,2004009,PM Personal GmbH,512,Elektropartner AG,2047,2013-10-08,2013-10-18,2555.30,0.0,0.0,...,False,True,0.00,0.00,0.00,False,NaN,False,False,True
3842:79/240,2004008,jobs united GmbH,79,Quadroni Linard,3842,2013-10-15,2013-10-25,1827.35,0.0,0.0,...,False,False,0.00,0.00,0.00,False,NaN,False,False,True
1894:489/695,2004009,PM Personal GmbH,489,Style Interiors,1894,2013-10-22,2013-11-01,1564.90,0.0,0.0,...,False,False,0.00,0.00,0.00,False,NaN,False,False,True
1915:489/696,2004009,PM Personal GmbH,489,Style Interiors,1915,2013-10-22,2013-11-01,1927.80,0.0,0.0,...,False,False,0.00,0.00,0.00,False,NaN,False,False,True
3938:79/241,2004008,jobs united GmbH,79,Quadroni Linard,3938,2013-10-22,2013-11-01,2233.45,0.0,0.0,...,False,False,0.00,0.00,0.00,False,NaN,False,False,True
1938:489/697,2004009,PM Personal GmbH,489,Style Interiors,1938,2013-10-28,2013-11-07,1927.80,0.0,0.0,...,False,False,0.00,0.00,0.00,False,NaN,False,False,True
4055:79/242,2004008,jobs united GmbH,79,Quadroni Linard,4055,2013-10-29,2013-11-08,2055.80,0.0,0.0,...,False,False,0.00,0.00,0.00,False,NaN,False,False,True
4166:79/243,2004008,jobs united GmbH,79,Quadroni Linard,4166,2013-11-05,2013-11-15,1294.40,0.0,0.0,...,False,False,0.00,0.00,0.00,False,NaN,False,False,True
2063:489/698,2004009,PM Personal GmbH,489,Style Interiors,2063,2013-11-12,2013-11-22,1882.45,0.0,0.0,...,False,False,0.00,0.00,0.00,False,NaN,False,False,True
4306:79/244,2004008,jobs united GmbH,79,Quadroni Linard,4306,2013-11-12,2013-11-22,2030.40,0.0,0.0,...,False,False,0.00,0.00,0.00,False,NaN,False,False,True
4425:79/245,2004008,jobs united GmbH,79,Quadroni Linard,4425,2013-11-19,2013-11-29,2157.30,0.0,0.0,...,False,False,0.00,0.00,0.00,False,NaN,False,False,True
4538:79/246,2004008,jobs united GmbH,79,Quadroni Linard,4538,2013-11-26,2013-12-06,1928.90,0.0,0.0,...,False,False,0.00,0.00,0.00,False,NaN,False,False,True
4681:79/247,2004008,jobs united GmbH,79,Quadroni Linard,4681,2013-12-03,2013-12-13,2081.15,0.0,0.0,...,False,False,0.00,0.00,0.00,False,NaN,False,False,True
4835:79/248,2004008,jobs united GmbH,79,Quadroni Linard,4835,2013-12-10,2013-12-20,1116.70,0.0,0.0,...,False,False,0.00,0.00,0.00,False,NaN,False,False,True