In [1]:
import pandas as pd
import numpy as np
from os import environ

In [2]:
user = environ["USERNAME"]

#Adding columns for visualization info purpose in the repayment patterns graph
datafolder = "C:/Users/{:}/Tradeteq Dropbox/Tradeteq Team/Clients/#GoFactoring/data analysis/".format(user)
filename = "instruments_with_score_simnames.pkl"
tr = pd.read_pickle(datafolder+filename)

In [3]:
tr['invoice_date_forVIZ'] = [i[0] for i in tr['invoice_date'].map(str).str.split(' ')]
tr['last_payment_date_forVIZ'] = [i[0] for i in tr['last_payment_date'].map(str).str.split(' ')]
tr['invoice_amount_forVIZ'] = tr['invoice_amount'].map(str)
tr['purchase_amount_forVIZ'] = tr.groupby(tr.index).apply(lambda x:str(np.nansum(x['purchase_amount'])))
tr['due_date_forVIZ'] = [i[0] for i in tr['due_date'].map(str).str.split(' ')]
tr['paid_amount_forVIZ'] = tr.groupby(tr.index).apply(lambda x:str(round(np.nansum([i for i in x['payment_amount']]),2)))
tr['discharge_amount_forVIZ'] = tr.groupby(tr.index).apply(lambda x:str(np.nansum(x['discharge_amount'])))
tr['purchase_amount_open_forVIZ'] = tr.groupby(tr.index).apply(lambda x:str(np.nansum(x['purchase_amount_open'])))
tr['deduction_amount_forVIZ'] = tr.groupby(tr.index).apply(lambda x:str(np.nansum(x['deduction_amount'])))
tr['score_f0_forVIZ']= tr['score_f0'].round(2).map(str)
tr['score_f1_forVIZ']= tr['score_f1'].round(2).map(str)
tr['score_f2_forVIZ']= tr['score_f2'].round(2).map(str)

In [4]:
tr.to_pickle(datafolder+filename)

In [5]:
tr.head()

,customer_id,customer_name_1,debtor_id,debtor_name_1,invoice_number,invoice_date,due_date,invoice_amount,purchase_amount,purchase_amount_open,...,invoice_amount_forVIZ,purchase_amount_forVIZ,due_date_forVIZ,paid_amount_forVIZ,discharge_amount_forVIZ,purchase_amount_open_forVIZ,deduction_amount_forVIZ,score_f0_forVIZ,score_f1_forVIZ,score_f2_forVIZ
uid,,,,,,,,,,,,,,,,,,,,,
2744:79/231,2004008,Lutz Inc.,79,Medusa Abo Sarl,2744,2013-07-23,2013-08-02,913.70,0.0,0.0,...,913.7,0.0,2013-08-02,0.0,913.7,0.0,0.0,0.6,0.26,0.25
2861:79/232,2004008,Lutz Inc.,79,Medusa Abo Sarl,2861,2013-07-30,2013-08-09,2233.45,0.0,0.0,...,2233.45,0.0,2013-08-09,0.0,2233.45,0.0,0.0,0.53,0.25,0.24
2932:79/233,2004008,Lutz Inc.,79,Medusa Abo Sarl,2932,2013-08-06,2013-08-16,1370.50,0.0,0.0,...,1370.5,0.0,2013-08-16,2741.0,0.0,0.0,0.0,0.39,0.25,0.24
1472:489/688,2004009,Xhosa Limited,489,Langley Guam Limited,1472,2013-08-13,2013-08-23,9195.10,0.0,0.0,...,9195.1,0.0,2013-08-23,0.0,9195.1,0.0,0.0,0.59,0.25,0.25
2042:512/645,2004009,Xhosa Limited,512,Darrell Ltd,2042,2013-08-13,2013-08-23,4594.60,0.0,0.0,...,4594.6,0.0,2013-08-23,657.4,4430.25,0.0,0.0,0.59,0.24,0.24